<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script src='chartjs_vs.js'></script>

<div style="width:75%;">
  <div class="chartjs-size-monitor">
    <div class="chartjs-size-monitor-expand">
      <div class=""></div>
    </div>
    <div class="chartjs-size-monitor-shrink">
      <div class=""></div>
    </div>
  </div>
  <canvas id="canvas" style="display: block; width: 797px; height: 398px;" width="797" height="398" class="chartjs-render-monitor"></canvas>
</div>


    <div id="div_serietiempo">
    </div>
    <div id="graf_barras">
    </div>
  </div>
</div>
