<div class="row filtro-fila">
  <div class="offset-md-2 col-sm-3">
    <% pom = Msip::ModeloHelper.poromision(params, :colormax) %>
    <%= f.input :colormax, 
      label: false,
      inline_label: 'Color más oscuro',
      input_html: {
        "data-contarautomatico-post" => "",
        type: 'color',
        width: '2em',
        value: pom == '' ? '#00ff00' : pom
      } %>
  </div>

</div>
