<article>
<h1>Acerca de</h1>
<p>El SIADDHH es un sistema de información de 
<a href='https://github.com/pasosdeJesus/siaddhh'>código abierto</a> 
desarrollado por Pasos de Jesús.</p>
<p>Se trata de una personalización 
financiada por <a href='somosdefensores.org'>Somos Defensores</a>
del sistema 
<a href='https://github.com/pasosdeJesus/sivel2'>SIVeL 2</a>.
</p>

<p>
Agradecemos a diversas organizaciones que han posibilitado el desarrollo
de SIVeL 2 en particular 
a <a href="http://www.sjrlac.org" target="_blank">JRS-LAC</a>,
a <a href='https://jrs.net/en/country/colombia/'>JRS-Colombia</a> y
al <a href="http://www.nocheyniebla.org" target="_blank">Banco de Datos
  de Violencia Política, DH y DIH del CINEP</a>.
</p>
</article>
