<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src='https://cdn.plot.ly/plotly-locale-es-latest.js'></script>

<div class="row">
  <div class="col-sm-4">
    <div class="well" width="12" title="Filtro" status="info">
      <div class="form-group shiny-input-container">
        <label class="control-label" for="presponsable">Presuntos responsables</label>
        <div class="filtros">
          <select id="presponsable" class="presponsableselect" multiple="multiple" >
          </select>
          <script type="application/json" data-for="presponsable">{}</script>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div id="div_serietiempo" class="plot">
    </div>
    <div id="div_barras">
    </div>
  </div>
</div>
