<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src='https://cdn.plot.ly/plotly-locale-es-latest.js'></script>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-title">Filtro</h5>
      <div class="form-group shiny-input-container">
        <label class="control-label" for="presponsable">Presuntos responsables</label>
        <div class="filtros">
          <select id="presponsable" class="presponsableselect chosen-select" multiple="multiple" >
          </select>
            <script type="application/json" data-for="presponsable">{}</script>
        </div>
      </div>
    </div> <!-- card -->
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body plot" id="div_serietiempo" style="padding: 0px; height:400px">
      </div>
    </div>
    <div class="card">
      <div class="card-body plot" id="div_barras" style="padding: 0px; height: 400px">
      </div>
    </div>
  </div>
</div>
