<div class="offset-sm-0 col-sm-2 offset-md-1 col-md-1">
  Editado por:
</div>
<div class="offset-sm-0 col-sm-2 offset-md-0 col-md-7">
  <div class="row">
    <div class="col-6">
      <%= f.input :editadopor_id,
        collection: ::Usuario.habilitados,
        label_method: lambda {|t| (t.nombre ? t.nombre : '') + ' - ' + 
          t.nusuario
      },
        value_method: :id,
        label: false,
        include_blank: '-- Usuario'
      %>
    </div>
  </div>
</div>
<div class="col-sm-2">
</div>
