<div class='control-group nested-fields'>
  <div class="controls">
    <% if !f.object.grupoper %>
      <% f.object.grupoper = Sip::Grupoper.new %>
    <% end %>
    <% if !f.object.orgsocial %>
      <% f.object.orgsocial = ::Sip::Orgsocial.new %>
      <% f.object.orgsocial.grupoper = f.object.grupoper %>
    <% end %>
    <% @orgsocial = f.object.orgsocial %>
       
    <%= render 'colectivo_campos', :f => f %>

    <%= link_to_remove_association "Eliminar Víctima Colectiva", f, {
      class: 'btn btn-sm btn-danger', 
      'data-existing': 'true',
      style: 'margin-bottom: 1em'
    } %> 

  </div>
</div>
